/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --input-bg: #f2f2f2;
  --spacing: 16px;
  --button-bg: #3388ff;
  --button-color: white;
  --txt-button-color: #767676;
  --txt-button-hover-color: black;
}
